body{
    margin: 0px;
    padding: 0px;
    background-image: url("src/assets/autumn-sunset-colorful-forest-painted-image-generated-by-ai.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}