@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

.container{
    margin: 80px;
    width: 65vh;
    height: min(30vw,38vw);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#F64001, #E8761E, #CA0610);
    font-family: "Lora", serif;

}

input{
    height: 35px;
    width: 85%;
    margin-top: 10px;
}

button{
    height: 35px;
    width: 86%;
    border-radius: 3px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-color: #622B14;
    background-color: #622B14;
}

.cardIntro {
    font-family: "Playwrite GB J", cursive;
    font-size: 20px;
}