body{
    margin: 0px;
    padding: 0px;
    background-color: #718355;
}

.upper_section{
    height: 764px;
    width: 100%;

    display: flex;

}

.card {
    height: 472px;
    width:  386px;
    margin-top: 100px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;

    background-color: #87986A;
    box-shadow: 8px -8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px
}

.sign-login{
    font-family: montserrat, arial, sans-serif;
    color: white;
    font-size: 28px;
    align-self: center;
    margin-top: 70px;
}

.email{
    margin-top: 5ch;
    margin-left: 10%;
    height: 25px;
    width: 80%;
    background-color: #87986A;
    border: 1px solid #87986A;
    border-bottom: 1px solid white;
    outline: none;
    transition: border-color 0.3s ease;
}

.password{
    margin-top: 50px;
    margin-left: 10%;
    height: 25px;
    width: 80%;
    background-color: #87986A;
    border: 1px solid #87986A;
    border-bottom: 1px solid white;
    outline: none;
    transition: border-color 0.3s ease;
}

button{
    align-self: self-end;
    margin-top: 80px;
    margin-right: 35px;
    height: 32px;
    width: 55px;
    border-color: 0px solid white;
    background-color: #4f5e3c;
    border-radius: 2px;
}

input::placeholder{
    color: rgba(200, 255, 200, 0.5);
}

input:focus{
    border: 1px solid #87986A;
    border-bottom: 1px solid #2dd4bf;
}

.footer{
    height: 400px;
    width: 100%;
    /*background-color: #5f6f49;*/
    background-color: #87986A;
}
